.final {
    background-image: url(imagens/background-image-gif.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      padding: 125px;
     border: outset darkred 15px;
}     

@media(320px <= width <= 769px) {
    .itens {
        font-size: 10px;
        padding: 10px;
        margin: 0;
        position: relative;
        left: 65px;
    }
    .zoomlogotipo  {
        width: 60px;
        height: 60px;
        margin: 0;
    }
    .titulo {
        margin-bottom: 15px;
    }
    .camp-preenchimento {
        font-size: 25px;
    }
    .area-texto {
        width: 210px;
    }
    .frasefim {
        text-align: center;
        width: 100%;
        font-size: 10px;
    }
    .final {
        padding: 50px;
    }
    .fimimg {
        position: relative;
        bottom: 0px;
    }

}
@media(425px <= width <=519px) {
    
}
@media(1024px <= width <= 1440px) {
.aviso{
    padding-bottom: 18px;
    padding-left: 440px;
    font-size: 20px;
    }
.camp-preenchimento {
    padding-bottom: 30px;
    padding-left: 550px;
}
.campo{
padding: 40px 20px 50px 20px;
}
.bagulho {

}
}