

@media(775px <= width <=1440px) {
    

.aviso{
    padding-bottom: 18px;
    padding-left: 440px;
    font-size: 20px;
    }
.camp-preenchimento {
    padding-bottom: 30px;
    padding-left: 550px;
}
.campo{
padding: 40px 20px 50px 20px;
}
.frasefim {
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 0;

}
}
@media(425px <= width <= 774px) {
.frasefim {
        font-size: 21px;
        color: rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
       position: relative;
       bottom: 0px;
    }
    .fimimg{
    position: relative;
    top: 50px;
}
}

