
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(imagens/grama.jpg);
}

*{ 
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: red;
}
main{
    padding: 0px;
}

.zoomlogotipo{
        transition: transform 0.3s ease;   
        margin-left: 15px;     
}        

.zoomlogotipo:hover{
    transform: scale(1.5);
    
}

.topo {
    background-image: url(imagens/correr.gif);
    	padding-bottom: 160px;		
    background-repeat: no-repeat;
   background-size: 100% 100%;
   margin-bottom: 50px;
   box-shadow: 10px 10px darkred;
   border: outset darkred 15px;
}


.nave{
    display: flex;
    align-items: center;
    padding: 10px;
  
   
}

.lista {
    display: flex;
    align-items: center;
    margin: auto;
}

.itens {
    justify-content: space-between;
    padding: 10px;
    margin: 40px;
    font-size: 30px;
}

.titulo{
    font-size: 35px;
    padding: 20px;
}

.titulo2{
    
    font-size: 35px;
    padding: 20px;
}

.titulop {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}
.ptitulo {
    font-size: 50px;
    font-family: 'roboto', sans-serif;
    padding: 15px;
}

.prods{
    font-size: 30px;
    display: flex;
    margin: auto;
    gap: 30px;
}
.main {

}

.grade {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: end;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    width: 900px;
  
}
.prodtit{

    text-align: center;
    font-size: 30px;
    padding: 10px;
    

}

.vendas {
    padding: 25px;
    text-align: center;
    margin: auto;
}

.caixaprod {
    padding:20px;
    border-radius: 5px;
    margin-bottom:15px;
    box-shadow: 10px 10px darkred;
    border: outset darkred 15px;
    background-image: url(imagens/tijolo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.vendas img {
    width: 400px;
    height: 400px;
}

.textprod {
font-size: 25px;
color: rgb(0, 0, 0);
}

.botao {
    background-color: #a6a6a6;
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
   
    

}
.botao:hover {
    background-color: rgb(109, 98, 98);
    color: rgb(17, 11, 11);
    box-shadow: 0 3px 20px #131010;
}
.botao:active {
    background-color: #b6a9a9;
    box-shadow: 0 3px  #161010;
    transform: translateY(4px);
}
/*Produtos*/



.texto {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 3px;
    text-align: center;
    
 
}
.texto2{ 
    font-size: 30px;
    padding: 3px;
    text-align: center;
    color: #e00f3d;
    
    
}
.imagem  {
    width: 400px;
    height: 400px;
     
}
.caixaprod2 {
    padding:20px;
    border-radius: 5px;
    margin-bottom:15px;
    box-shadow: 10px 10px darkred;
    border: outset darkred 15px;
    background-image: url(imagens/tijolo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}


.imagem-carta1{
    width: 300px;
    height: 400px;
}
.t1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 5px;
}

.vendas2 {
    padding: 25px;
    text-align: center;
    margin: auto;
    
    
}

.final {
  background-image: url(imagens/madeira-bege.png);
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 10px 10px darkred;
   border: outset darkred 15px;
    
}

/*Responsabilidade*/

@media(max-width: 425px) {
    li {
        font-size: 10px;
    }
    .prods {
        display: flex;
        flex-direction: column;
    }
    .titulo {
        text-align: center;
    }
    .ptitulo {
        text-align: center;
    }
}