@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#voltarAoTopo {
    display: none; /* Inicialmente oculto até que a página seja rolada para baixo */
    position: fixed; /* Mantém o botão fixo mesmo quando a página é rolada */
    bottom: 350px; /* Distância em relação ao fundo da janela */
    right: 50px; /* Distância em relação à borda direita da janela */
    background-color: var(--gray); /* Cor de fundo do botão */
    color: var(--blue); /* Cor do texto do botão */
    border: none; /* Sem borda */
    padding: 0; /* Sem preenchimento interno */
    cursor: pointer; /* Cursor do mouse muda para ponteiro ao passar sobre o botão */
    border-radius: 50%; /* Borda arredondada para criar um botão circular */
 }

body{
    font-family: 'Rubik', sans-serif;
    background-image: url(imagens/grama.jpg);

}

*{ 
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: red;
}
main{
    padding: 0px;
}

.zoomlogotipo{
        transition: transform 0.3s ease;   
        margin-left: 15px;     
}        

.zoomlogotipo:hover{
    transform: scale(1.5);
    
}

.topo {
    background-image: url(imagens/correr.gif);
    padding-bottom: 160px;		
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 50px;
    border: outset darkred 15px;
}


.nave{
    display: flex;
    align-items: center;
    padding: 10px;
}

.lista {
    display: flex;
    align-items: center;
    margin-left: auto;
margin-right: auto;

}

.itens {
    justify-content: space-between;
    padding: 10px;
    margin: 40px;
    font-size: 30px;
}

.titulo{
    font-size: 35px;
    padding: 20px;
    color: white;
    background-color: darkred;
    text-transform: uppercase;
  
}

.titulo2{
    
    font-size: 35px;
    padding: 20px;
}

.titulop {
    
    font-size: 20px;
}
.ptitulo {
    font-size: 50px;
    padding: 15px;
    color: white;
    background-color: darkred;
}
.final {
    background-image: url(imagens/background-image-gif.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
      text-align: center;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      padding: 125px;
     border: outset darkred 15px;
}

@media(max-width: 320px) /*OK*/ {
    .topo {
        width: 320px;
        margin-bottom: 0px;
    
    }
    .zoomlogotipo {
        height: 50px;
        width: 50px;
        position: relative;
        right: 10px;
        top: 7px;
    }
    
    .itens {
        margin: 0;
        position: relative;
        right: 30px;
        padding: 0;
        text-align: center;
        color: red;
        font-size: 15px;
        padding-right: 10px;
    }
    .lista {
        font-size: 20px;
        width: 70px;
        display: flex;
        position: relative;
        right: 80px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .quadro {
        width: 320px;
        height: 610px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .pikachu {
        height: 270px;
        width: 110px;
    }
    .pikachuu {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 40px;
    }
    .frasefim {
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    .final {
        padding: 50px;
    }
    .fimimg {
        position: relative;
        top: 45px;
    }
    .subtopico {
        position: relative;
        top: 25px;
        font-size: 60px;
    }
    #topic1 {
        position: relative;
        top: 40px;
        font-size: 50px;
    }
    #desc1 {
        position: relative;
        top: 40px;
        font-size: 20px;
        padding-bottom: 0;
    }
    #topic2 {
        position: relative;
        top: 150px;
        font-size: 50px;
    }
    #desc2 {
        position: relative;
        top: 150px;
        font-size: 20px;
    }
    #missao {
        font-size: 35px;
    }
}

@media(375px <= width <= 424px) /**/ {
    .itens {
        margin: 0;
        position: relative;
        right: 30px;
        padding: 0;
        text-align: center;
        font-size: 15px;
        padding-right: 10px;
    
        
    }
    .final{
        padding: 50px;
    }
    .frasefim{
        font-size: 20px; 
        text-align: center;
        margin-bottom:15px;
        
    }
    .fimimg{
        
    }
}
@media(520px <= width <=604px) {
    .nave{
        position: relative;
        bottom: 80px;
    }
    .lista {
        padding: 0;
        margin-left: 60px;
    }
    .itens {
        margin: 15px 28px 15px 16px;
        font-size: 20px;
        text-align: center;
    }
}

@media(425px <= width <=519px) {
    .nave{
        position: relative;
        bottom: 80px;
    }
    .lista {
        padding: 0;
        margin-left: 90px;
    }
    .itens {
        margin: 15px 0px 15px 0px;
        font-size: 20px;
        text-align: center;
    }
}
@media(605px <= width <= 739px) /*OK*/ {
    .nave{
        position: relative;
        bottom: 80px;
    }
    .lista {
        padding: 0;
        margin-left: 100px;
    }
    .itens {
        margin: 15px 0px 15px 0px;
        font-size: 20px;
        text-align: center;
    }
    .pikachuu {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 20px;
    }
    .quadro {
        margin: 10px 0;
    }
    .fimimg {
        position: relative;
        top: 50px;
        margin: 0 5px;
    }
    .final {
        padding: 50px;
    }
    .frasefim {
        position: relative;
        bottom: 40px;
    }
}

@media(740px <= width <= 768px) /*OK*/ {
    .nave{
        margin: 15px 15px 15px 100px;
        position: relative;
        bottom: 80px;
    
    }
    .lista {
        padding: 0;
    }
    .itens {
        margin: 0;
        font-size: 20px;
        margin: 15px 15px 15px 15px;
    }
    .pikachuu {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 20px;
    }
    .pikachu {
        width: 204px;
    }
    .quadro {
        margin: 10px 5px;
    }
    .fimimg {
        position: relative;
        top: 50px;
        margin: 0 5px;
    }
    .final {
        padding: 50px;
    }
    .frasefim {
        position: relative;
        bottom: 40px;
    }
    .corpo {
        display: grid;

    }
}



@media(1024px <= width <= 1440px) {
    nav {
   
    }
    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      

    }
    .quadro {
        padding: 20px;
        margin: 10px;
    }
    .pikachuu {
        display: flex;
        justify-content: center;
    }
    .topo {
        margin-bottom: 20px;
      
    }
   .itens {
    position: relative;
        bottom: 80px;
   }
    .frasefim {
        position: relative;
        bottom: 80px;
        font-size: 30px;
    }
    .fimimg {
        position: relative;
        top: 110px;
    }
}

@media(940px <= width <= 1023px) {
    .nave {
      text-align: center;
      position: relative;
      bottom: 80px;
      margin-left : 5px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .lista {
        margin:10px;
    width: 0;
    }
    .itens {
        margin: 15px 38px 15px 38px;
    }
    .pikachuu {
        display: flex;
        justify-content: center;
    }  

    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .quadro {
        padding: 20px;
        margin: 10px;
    }

    .frasefim {
        position: relative;
        bottom: 80px;
        font-size: 30px;
    }
    .fimimg {
        position: relative;
        top: 110px;
    }
}

@media (840px <= width <= 939px) {
    .nave {
        text-align: center;
        position: relative;
        bottom: 80px;
      }

    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .lista {
    
    }
    .itens {
        margin: 15px 19px 15px 33px;
        font-size: 20px;
    }
    .pikachuu {
        display: flex;
        justify-content: center;
    }  

    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .quadro {
        padding: 0px;
        margin: 5px;

    }
    .desc-valores{
        margin-right: 10px;
        margin-left: 14px;
      font-size: 22px;

    }
    .subtopico {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 28px;
    }

    .frasefim {
        position: relative;
        bottom: 80px;
        font-size: 30px;
    }
    .fimimg {
        position: relative;
        top: 110px;
    }
    .subtitulo{
        margin-top: 15px;
    }
    .desc {
        margin-left: 15px;
        margin-right: 15px;
       
    }
}

@media (784px <= width <= 839px) {
    .nave {
        text-align: center;
        position: relative;
        bottom: 80px;
      }
.itens{
    margin: 15px 19px 15px 33px;
}
    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .lista {
        margin: 25px;
        width: 0px;
    }
    .itens {
        margin: 15px 12px 15px 25px;
        text-align: center;
    }
    .pikachuu {
        display: flex;
        justify-content: center;
    } 
    .pikachu {
        width: 220px;
        height: 275px;
    } 

    .corpo {
        display: grid;
    }

    .quadro {
        padding: 0px;
        margin: 5px;
    }

    .frasefim {
        position: relative;
        bottom: 80px;
        font-size: 30px;
    }
    .fimimg {
        position: relative;
        top: 110px;
    }
}

@media (769px <= width <= 783px) {
    .nave{
        position: relative;
        bottom: 50px;
}
a {
    font-size: 25px;
}
.quadro{
    margin-bottom: 10px;
}
    .itens {
        margin: 15px 15px 15px 15px;
    }
    .lista {
        margin: 10px;
    } 

    .corpo {
        display: grid;
    }

    .frasefim {
        position: relative;
        bottom: 80px;
        font-size: 30px;
    }
    .fimimg {
        position: relative;
        top: 110px;
    }
    .pikachu {
        width: 400px;
        position: relative;
        left: 180px;
    
    }
    .pikachuu{
       
    }
}

@media(1441px <= width <= 7680px) {
    .itens {
        position: relative;
        right: 105px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .quadro {
        margin: 5px;
    }
}