@media(max-width: 321px) {
    .topo {
        width: 320px;
        margin-bottom: 0px;
    
    }
    .zoomlogotipo {
        height: 50px;
        width: 50px;
        position: relative;
        right: 10px;
        top: 7px;
    }
    
    .itens {
        margin: 0;
        position: relative;
        right: 30px;
        padding: 0;
        text-align: center;
        color: red;
        font-size: 15px;
        padding-right: 10px;
    }
    .lista {
        font-size: 20px;
        width: 70px;
        display: flex;
        position: relative;
        right: 80px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .quadro {
        width: 320px;
        height: 610px;
        padding: 5px;
        margin-bottom: 10px;
        border: solid darkred 10px;
    }
    .pikachu {
        height: 270px;
        width: 110px;
    }
    .pikachuu {
        position: relative;
        right: 60px;
    }
    .frasefim {
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    .final {
        padding: 50px;
    }
    .fimimg {
        position: relative;
        top: 45px;
    }
    .subtopico {
        position: relative;
        top: 25px;
        font-size: 60px;
    }
    #topic1 {
        position: relative;
        top: 40px;
        font-size: 50px;
    }
    #desc1 {
        position: relative;
        top: 40px;
        font-size: 20px;
        padding-bottom: 0;
    }
    #topic2 {
        position: relative;
        top: 150px;
        font-size: 50px;
    }
    #desc2 {
        position: relative;
        top: 150px;
        font-size: 20px;
    }
    #missao {
        font-size: 35px;
    }
}

@media(322px <= width <= 376px) {
    .topo {
        width: 320px;
    }
    .zoomlogotipo {
        height: 80px;
        width: 80px;
        position: relative;
        left: 80px;
        top: 10px;
    }
    
    .itens {
        margin: 0;
        position: relative;
        right: 50px;
        padding: 0;
        text-align: center;
        color: red;
        font-size: 15px;
        padding-right: 10px;
    }
    .lista {
        font-size: 20px;
        width: 70px;
        display: flex;
        position: relative;
        right: 80px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .quadro {
        width: 320px;
        height: 610px;
        padding: 5px;
        margin-bottom: 10px;
        border: solid darkred 10px;
    }
    .pikachu {
        height: 270px;
        width: 110px;
    }
    .pikachuu {
        position: relative;
        right: 60px;
    }
    .frasefim {
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    .final {
        padding: 50px;
    }
    .fimimg {
        position: relative;
        top: 45px;
    }
    .subtopico {
        position: relative;
        top: 25px;
        font-size: 60px;
    }
    #topic1 {
        position: relative;
        top: 40px;
        font-size: 50px;
    }
    #desc1 {
        position: relative;
        top: 40px;
        font-size: 20px;
        padding-bottom: 0;
    }
    #topic2 {
        position: relative;
        top: 150px;
        font-size: 50px;
    }
    #desc2 {
        position: relative;
        top: 150px;
        font-size: 20px;
    }
    #missao {
        font-size: 35px;
    }
}

@media(1024px <= width <= 1440px) {
    nav {
        position: relative;
        right: 190px;
        bottom: 110px;
    }
    .corpo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      

    }
    .quadro {
        border: outset darkred 15px;
        padding: 20px;
        margin: 10px;
    }
        .pikachuu {
            position: relative;
            right: 90px;
    }
    .topo {
        margin-bottom: 20px;
      
    }
    .itens {
        position: relative;
        right: 120px;
    }
    .frasefim {
        position: relative;
        bottom: 80px;
        font-size: 30px;
    }
    .fimimg {
        position: relative;
        top: 110px;
    }
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   